page-home {
  #20 {
    display: inline-block;
  }

  #20first {
    margin-right: 0;
    float: right;
    text-align: right;
    display:inline-block;
  }

  #20rolls {
    margin-left: 0;
    float: right;
    text-align: right;
    display: inline-block;
  }

  // #20clear {
  //   display: inline-block;
  // }

  h2 {

  }

}
